<%- include('header') -%>

<h2>This is the about page</h2>

<p>
  This is about us page. You can know about us if you are here in about page. We
  are the provider for the solution of different IT problems in all Nepal and
  all other countries across this vast World!!!!!!!!
</p>

<%- include('footer') -%>
